/* font familly */
* {
    font-family: 'Open Sans', sans-serif;
}

/* sheare style */
.primary-color {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding: 18px 35px;
}


/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.web-title {
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: black;
}

/* header */
.header{
    background-color: rgba(253, 110, 10, 0.10);
    padding: 30px 30px 30px 300px;
}
.banner{
    display: flex;
    align-items: center;
}
.banner-content{
    
}
